<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Friend Book</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300i,400" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    
    <div id="app">
    
      <div class="form">
        <h1>The Friend Book</h1>
        <h2>Keep tabs on friends</h2>
        <br />
        <input type="text" name="name" v-model="friend.name" placeholder="e.g. Marky">
        <br />
        <input type="text" name="feature" v-model="friend.feature" placeholder="e.g. Missing Eye">
        <p v-if="friendIsValid">
          ~ Enter an friend ~
        </p>
        <p v-else>
          You are about to create:
          {{friend.feature}} {{friend.name}}
        </p>
        <button v-on:click="clickMe">clickMe</button> 
      </div>
    <ul>
      <li v-for="friend in friends">
        <h3>{{ friend.name }}</h3>
        <h4>{{ friend.feature }}</h4>
      </li>
    </ul>
  </div>

  <script src="vue.js"></script>
  <script src="app.js"></script>

  </body>
</html>
